
*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
   font-family: 'Varela Round', sans-serif;
}

/*--FONTE--*/
h1{
    font-family: 'Bowlby One', cursive;
    color: #FEFFF7; 
    text-transform: uppercase; 
    font-size: 30pt; 
}

h3{
    font-family: 'Bowlby One', cursive;
    color: #F6B771;  
    text-transform: uppercase; 
    font-size: 20pt; 
}

p{
    font-family: 'Varela Round', sans-serif;
    color: #FEFFF7; 
    font-size: 11pt; 
}

/*--NAVIGATION--*/

nav{
    background-color:#1D3036;
    padding: 10px;
    width: 100%;  
    float: left;
    z-index: 1;
    position: fixed; 
}

nav li {
    display: inline; 
    padding: 30px; 
}

nav a{
    text-decoration: none; 
    color: #FEFFF7; 
    font-size: 10pt; 
}

/*--BUTTONS--*/
.btn-blue{
    background-color:#215D73;
    color: #FEFFF7; 
    text-decoration: none; 
    font-family: 'Bowlby One', cursive;
    text-transform: uppercase; 
    padding: 10px 62px;  
    border-radius: 10px; 
    cursor: pointer;
}

.btn-yellow{
    background-color: #FFE9C6;
    color: #215D73; 
    text-decoration: none; 
    font-family: 'Bowlby One', cursive;
    text-transform: uppercase; 
    padding: 10px 20px; 
    border-radius: 10px;  
    cursor: pointer;
}

/*--BORDER--*/
.border-solid{
    border: solid 2px #FEFFF7; 
    width: 100%;
    margin: auto; 
    border-radius: 10px; 
}

.border-dotted{
    border: dotted 2px #FEFFF7; 
    width: 45%; 
    margin: auto;
    padding: 10px;  
    border-radius: 10px; 
}

/*--SECTIONS--*/
.section-blue{
    background-color:#215D73;
    text-align: center; 
    padding-top: 5%; 
    padding-bottom: 5%; 
}

.section-light-blue{
    background-color: #F4FCFF;
    padding-top: 2%; 
    padding-bottom: 3%; 
    position: relative;
}

/*---HOME---*/

/*header-section*/
.header-home{
    background-color:#F6B771;
    height: 100vh;
    position: relative;
    background-image: url(images/forside.png); 
    background-size: cover; 
    background-position: bottom right; 
    background-repeat: no-repeat; 
    background-size: 66%; 
    z-index: -1;
}

.header-txt{
    width: 50%; 
    padding-left: 8%; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.btn-right-margin{
    margin-right: 2%; 
}

/*idé section*/
.mini-guide-container{
    display: flex; 
    justify-content: center;
}

.mini-guide-item{
    width: 250px; 
    margin: 2%;
}

.mini-guide-item img{
    width: 100%;
    display: block; 
    margin: auto; 
}

.mini-guide-txt{
    background-color: #215D73; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}

.mini-guide-p{
    font-size: 10pt; 
    padding-right: 5px; 
    padding-left: 5px; 
    padding-bottom: 5px; 
}



