
*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
   font-family: 'Varela Round', sans-serif;
}

/*--FONTE--*/
h1{
    font-family: 'Bowlby One', cursive;
    color: #FEFFF7; 
    text-transform: uppercase; 
    font-size: 30pt; 
}

h2{
    font-family: 'Bowlby One', cursive;
    color: #FEFFF7; 
    text-transform: uppercase; 
    font-size: 20pt; 
}

.h2-blue{
    font-family: 'Bowlby One', cursive;
    color: #215D73;  
    text-transform: uppercase; 
    font-size: 25pt; 
    text-align: center; 
}

.h2-blue-1{
    font-family: 'Bowlby One', cursive;
    color: #215D73;  
    text-transform: uppercase; 
    font-size: 25pt; 
}

h3{
    font-family: 'Bowlby One', cursive;
    color: #F6B771;  
    text-transform: uppercase; 
    font-size: 20pt; 
}

.h3-white{
    font-family: 'Bowlby One', cursive;
    color: #FEFFF7;   
    text-transform: uppercase; 
    font-size: 20pt; 
}

h5{
    font-family: 'Bowlby One', cursive;
    color: #215D73;  
    text-transform: uppercase; 
    font-size: 13pt; 
}

h6{
    font-family: 'Varela Round', sans-serif;
    color: #FEFFF7; 
    font-size: 15pt; 
}

p{
    font-family: 'Varela Round', sans-serif;
    color: #FEFFF7; 
    font-size: 11pt; 
}

.blue{
    font-family: 'Varela Round', sans-serif;
    color: #215D73; 
    font-size: 11pt; 
}

/*--NAVIGATION--*/

nav{
    background-color:#1D3036;
    padding: 10px;
    width: 100%;  
    float: left;
    z-index: 1;
    position: fixed; 
}

nav li {
    display: inline; 
    padding: 30px; 
}

nav a{
    text-decoration: none; 
    color: #FEFFF7; 
    font-size: 10pt; 
}

/*--BUTTONS--*/
.btn-blue{
    background-color:#215D73;
    color: #FEFFF7; 
    text-decoration: none; 
    font-family: 'Bowlby One', cursive;
    text-transform: uppercase; 
    padding: 10px 62px;  
    border-radius: 10px; 
    cursor: pointer;
}

.btn-yellow{
    background-color: #FFE9C6;
    color: #215D73; 
    text-decoration: none; 
    font-family: 'Bowlby One', cursive;
    text-transform: uppercase; 
    padding: 10px 20px; 
    border-radius: 10px;  
    cursor: pointer;
}

.btn-orange{
    background-color: #F6B771; 
    color: #215D73;
    font-family: 'Bowlby One', cursive;
    text-transform: uppercase; 
    font-size: 10pt; 
    text-decoration: none;
    padding: 7px 25px;
    border-radius: 10px;
}

/*--SECTIONS--*/
.section-blue{
    background-color:#215D73;
    padding-top: 5%; 
    padding-bottom: 5%; 
}

.section-light-blue{
    background-color: #F4FCFF;
    padding-top: 2%; 
    padding-bottom: 3%; 
    position: relative;
}

.section-citat{
    background-image: url(images/burger-wallpaper.jpg); 
    background-size: cover; 
    padding-top: 3%; 
    padding-bottom: 3%; 
    text-align: center; 
}

.header-orange{
    background-color:#F6B771;
    height: 100vh;
}

/*-citat-*/
.border-solid{
    border: solid 2px #FEFFF7; 
    width: 100%;
    margin: auto; 
    border-radius: 10px; 
    text-align: center;
}

.border-dotted{
    border: dotted 2px #FEFFF7; 
    width: 67%; 
    margin: auto;
    padding: 10px;  
    border-radius: 10px; 
}

.citat-wrapper{
    background-color: rgba(17, 17, 17, 0.308);
    border-radius: 10px;   
    margin: 10px; 
    padding: 20px;
}

/*---HOME---*/

/*header-section*/
.header-home{
    background-color:#F6B771;
    height: 100vh;
    background-image: url(images/forside.png); 
    background-size: cover; 
    background-position: bottom right; 
    background-repeat: no-repeat; 
    background-size: 62%; 
    z-index: -1;
}


.header-txt{
    width: 50%; 
    padding-left: 8%; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.btn-right-margin{
    margin-right: 2%; 
}

/*idé section*/
.mini-guide-container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.mini-guide-item{
    width: 250px; 
    margin: 2%;
}

.mini-guide-item img{
    width: 100%;
    display: block; 
    margin: auto; 
}


.mini-guide-txt{
    background-color: #215D73; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}

.mini-guide-p{
    font-size: 10pt; 
    padding-right: 5px; 
    padding-left: 5px; 
    padding-bottom: 5px; 
}


/*--FOOTER--*/
footer{
    background-color: #1D3036; 
    color: #FEFFF7; 
    padding-top: 4%; 
    padding-bottom: 4%; 
}

.footer-container{
    display: flex; 
    justify-content: center; 
    padding-left: 2%; 
    flex-wrap: wrap; 
}

.footer-box{
    margin-right: 5%; 
}


.footer-box ul{
   list-style-type: none;
}
.footer-box a{
    font-size: 10pt; 
    text-decoration: none; 
    color: #FEFFF7; 
}

.footer-some{
    margin-top: 5px; 
}

.footer-some li{
    display: inline; 
}

.footer-some a{
    font-size: 18pt;
    margin-right: 5px;  
}

/*--#DESTINATIONHYGGE-SIDE--*/
.header-des-txt{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.header-des-txt h1{
    font-size: 50pt;
}

.loacl-h3{
    column-span: all;
}
.local-txt{
    column-count: 2;
    line-height: 1.5;
    column-gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

/*--COMMUNITY-SIDE--*/
.com-btn-wrapper{
    text-align: center;
    margin-top: 3%;
}
/*--GUIDES-SIDE--*/
.header-guide-txt{
    padding-left: 15%; 
    padding-right: 15%; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.guide-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guide-card{
    width: 320px;
    background-color:#F4FCFF; 
    border-radius: 10px;
    text-align: left;
    margin: 15px;
}

.guide-card p{
    font-size: 9pt;
    text-align: justify;
}

.guide-card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.btn-des-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.guide-orange{
    color: #F6B771;
}

.guide-card-txt-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

/*--GUIDE1-SIDE--*/

.guide1-container{
    background-color:#FEFFF7; 
    width: 80%;
    border-radius: 10px;
    padding-bottom: 5%;
    display: table;
    margin: auto; 
    margin-top: 5%;
    position: relative;
}

.guide1-header{
    background-color:#F6B771; 
    border-radius: 10px 10px 0px 0px;
    float: left;    

}

.guide1-header-txt{
    width: 50%;
    float: left;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.guide1-header-txt h1{
    font-size: 20pt;
}

.guide1-header-img{
    width: 50%;
    float: left;

}

.guide1-header-img img{
    width: 100%;
    border-radius: 0px 10px 0px 0px;
    display: table;
    margin: auto;
}

.guide1-text{
    margin-left: 12%;
    margin-right: 12%;
    float: left;
    margin-top:7%;
}

.guide1-txt-modul{
    width: 100%;
    float: left;
    margin-bottom: 2%;
}

.guide1-number{
    height: 100px;
    width: 5%;
    float: left;
}

.guide1-guidetekst{
    width: 95%;
    float: left;
}

.btn-guide1-wrapper{
    text-align: right;
}

.close{
    position: absolute;
    right: 10px;
    top: 5px; 
    font-size: 20pt;
}

.close a{
    color: #215D73;
}


